/****************/
/* FONT INLADEN */
/****************/

@font-face {
  font-family: 'supermario';
  src: url('/font/supermario256-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
  margin:0;
  padding: 0;
}

button:not([disabled]) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --mario-font: supermario, Brush Script MT;
  --mariotekst-blauw: #009CDA;
  --mariotekst-rood: #E71E07;
  --mariotekst-groen: #42B132;
  --mariotekst-geel: #FCD000;
  --background-gradient: linear-gradient(0deg, rgba(3,173,252,1) 38%, rgba(255,255,255,1) 100%);
  --pixel: .5em;

  --pixel-groen1: #74c741;
  --pixel-groen2: #00ac00;
  --pixel-zwart: #000;
  --pixel-wit: #fff;

  --h2: arial;
  --ol-p: arial;

  --tekst-op-onderkant: #fff;
  --ondertitel: arial;
}





/********************/
/* ALGEMENE STYLING */
/********************/
header {
  text-align: center;
  margin: 2em;
}

header h1 span:hover {
  transform: translateY(-.3em);
}

/* titel bovenin pagina */
h1 {
  color:var(--color-headings);
  font-family: var(--mario-font);
  font-size: 3.5em;
  letter-spacing: -.3em;
  -webkit-text-stroke: .08em black;
  margin-bottom: .5rem;
}

header h1 span {
  display: inline-block;
}

h1 span:nth-of-type(5) {
  letter-spacing: 0;
}

/* blauwe letters */
h1 span:first-of-type,
h1 span:nth-of-type(9) {
  color: var(--mariotekst-blauw);
}

/* gele letters */
h1 span:nth-of-type(2),
h1 span:nth-of-type(5),
h1 span:nth-of-type(8) {
  color: var(--mariotekst-geel);
}

/* groene letters */
h1 span:nth-of-type(4),
h1 span:nth-of-type(7),
h1 span:nth-of-type(10) {
  color: var(--mariotekst-groen);
}

/* rode letters */
h1 span:nth-of-type(3),
h1 span:nth-of-type(6) {
  color: var(--mariotekst-rood);
}

/* ondertitel */
header p {
  font-family: var(--ondertitel);
  font-size: 1.5em;
  text-shadow: #000 2px 2px;
  color: #fff;
  -webkit-text-stroke: .05em black;
  font-weight: 900;
}

body {
  background: var(--background-gradient);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

main > section:nth-of-type(2) {
  position: relative;
  background: linear-gradient(180deg, rgba(130,49,30,1) 38%, rgba(20,14,14,1) 100%);
  height: 49vh;
  z-index: -1;
}

main > section:nth-of-type(2) div:first-of-type{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/images/gras.png);
  background-repeat: repeat-x;
}

main > section:nth-of-type(2) div:nth-of-type(2) {
  position: absolute;
  right: calc(var(--pixel) * 15);
  top: calc(var(--pixel) * 0);
  width: var(--pixel);
  aspect-ratio: 1/1;
  transform: rotate(270deg);
  box-shadow: 
    calc(var(--pixel) * 1) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 4) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 5) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 6) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 7) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 8) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 9) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 10) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 11) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 12) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 13) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 14) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 15) calc(var(--pixel) * 1) var(--pixel-zwart),
    
    calc(var(--pixel) * 1) calc(var(--pixel) * 2) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 2) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 3) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 3) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 4) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 4) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 5) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 5) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 6) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 6) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 4) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 5) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 6) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 7) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 8) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 9) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 10) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 11) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 12) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 13) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 14) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 15) calc(var(--pixel) * 7) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 8) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 8) var(--pixel-zwart),
    
    calc(var(--pixel) * 2) calc(var(--pixel) * 9) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 9) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 10) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 10) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 11) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 11) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 12) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 12) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 13) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 13) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 14) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 14) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 15) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 15) var(--pixel-zwart);
}

main > section:nth-of-type(2) div:nth-of-type(3) {
  position: absolute;
  left: calc(var(--pixel) * 15);
  top: calc(var(--pixel) * -16);
  width: var(--pixel);
  aspect-ratio: 1/1;
  transform: rotate(90deg);
  box-shadow: 
    calc(var(--pixel) * 1) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 4) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 5) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 6) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 7) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 8) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 9) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 10) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 11) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 12) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 13) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 14) calc(var(--pixel) * 1) var(--pixel-zwart),
    calc(var(--pixel) * 15) calc(var(--pixel) * 1) var(--pixel-zwart),
    
    calc(var(--pixel) * 1) calc(var(--pixel) * 2) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 5) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 2) var(--pixel-groen1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 2) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 3) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 3) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 3) var(--pixel-groen2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 3) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 4) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 4) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 4) var(--pixel-groen1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 4) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 5) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 5) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 5) var(--pixel-groen2),
    calc(var(--pixel) * 15) calc(var(--pixel) * 5) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 6) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 3) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 4) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 6) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 8) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 9) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 10) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 11) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 12) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 6) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 6) var(--pixel-groen1),
    calc(var(--pixel) * 15) calc(var(--pixel) * 6) var(--pixel-zwart),

    calc(var(--pixel) * 1) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 2) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 4) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 5) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 6) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 7) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 8) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 9) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 10) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 11) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 12) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 13) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 14) calc(var(--pixel) * 7) var(--pixel-zwart),
    calc(var(--pixel) * 15) calc(var(--pixel) * 7) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 8) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 8) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 8) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 8) var(--pixel-zwart),
    
    calc(var(--pixel) * 2) calc(var(--pixel) * 9) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 9) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 9) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 9) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 10) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 10) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 10) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 10) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 11) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 11) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 11) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 11) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 12) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 12) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 12) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 12) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 13) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 13) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 13) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 13) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 14) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 14) var(--pixel-groen1),
    calc(var(--pixel) * 13) calc(var(--pixel) * 14) var(--pixel-groen2),
    calc(var(--pixel) * 14) calc(var(--pixel) * 14) var(--pixel-zwart),

    calc(var(--pixel) * 2) calc(var(--pixel) * 15) var(--pixel-zwart),
    calc(var(--pixel) * 3) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 4) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 5) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 6) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 7) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 8) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 9) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 10) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 11) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 12) calc(var(--pixel) * 15) var(--pixel-groen2),
    calc(var(--pixel) * 13) calc(var(--pixel) * 15) var(--pixel-groen1),
    calc(var(--pixel) * 14) calc(var(--pixel) * 15) var(--pixel-zwart);
}

/* mushroom uit buis */
main > section:nth-of-type(2) > img:first-of-type {
  position: absolute;
  width: 4em;
  right: 0;
  top: -5em;
  z-index: -1;
}

.mushroomAnimation {
  animation: shroomuitbuis 2s ease-in;
}

@keyframes shroomuitbuis {
  0% {
    transform: none;
    scale: 0;
  }

  20% {
    scale: 0;
  }

  30% {
    scale: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateX(-45vw);
    opacity: 0;
  }
}

/* schild uit buis */
main > section:nth-of-type(2) > img:nth-of-type(2) {
  position: absolute;
  width: 4em;
  left: 0;
  top: -5em;
  z-index: -1;
}

.shellAnimation {
  animation: shelluitbuis 2s ease-in;
}

@keyframes shelluitbuis {
  0% {
    transform: none;
    scale: 0;
  }

  20% {
    scale: 0;
  }

  30% {
    scale: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateX(45vw);
    opacity: 0;
  }
}

main section:first-of-type img:nth-of-type(2).vergroot {
  animation: vergroten 1s ease-in-out;
}

@keyframes vergroten {
  0% {
    scale: 1;
  }

  20% {
    scale: 1.2;
  }

  25% {
    scale: 1.1;
  }

  45% {
    scale: 1.4;
  }

  50% {
    scale: 1.3;
  }

  70% {
    scale: 1.6;
  }
  
  75% {
    scale: 1.5;
  }

  95% {
    scale: 1.8;
  }

  100% {
    scale: 1.7;
  }
}

/* middensectie mario + buttons */

main section:first-of-type {
  margin-top: 9em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10vh 3.5em 0 3.5em;
  height: 30vh;
}

button:active {
  transform: translate(.1em, .1em);

}

main section:first-of-type button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  width: 3rem;
  aspect-ratio: 1/1.3;
}

main section:first-of-type button img {
  width: 100%;
}

main section:first-of-type > img {
  height: 100%;
}



/* titels van alle list items */
ol {
  z-index: 100;
}

ol li {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol li h2 {
  text-align: center;
  font-family: var(--h2);
  color: var(--tekst-op-onderkant);
}

ol li p {
  font-family: var(--ol-p); 
  color: var(--tekst-op-onderkant);
  margin: 1em 20vw 0 20vw;
  font-size: 1em;
}

/* hidden list item */
.hidden {
  display: none;
}

