/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  padding: 0;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}





/********************/
/* ALGEMENE STYLING */
/********************/
body {
  /* background: #03adfc; */

}

header {
  text-align: center;
}

/* middensectie mario + buttons */
main section {
  display: flex;
  width: 100&;
  align-items: center;
  justify-content: space-between;
  margin: 0 3em;
}

main section button {
  background: none;
  border: none;
  width: 10rem;
  aspect-ratio: 1/1;
}

main section button img {
  width: 100%;
  
}

main section > img {
  height: 40vh;
}

/* titel bovenin pagina */
h1 {
  color:var(--color-headings);
}

/* titels van alle list items */
h2 {

}


ol li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol li h2 {
  text-align: center;
}


/* ... */


