/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
  margin:0;
  padding: 0;
}

button:not([disabled]) {
  cursor:pointer;
}


/****************/
/* FONT INLADEN */
/****************/

@font-face {
  font-family: 'supermario';
  src: url('/font/supermario256-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --mario-font: 'supermario';
  --mariotekst-blauw: blue;
  --mariotekst-rood: red;
  --mariotekst-groen: green;
  --mariotekst-geel: yellow;
}





/********************/
/* ALGEMENE STYLING */
/********************/
body {
  /* background: #03adfc; */

}

header {
  text-align: center;
  margin: 2em;
}

header h1 {
  margin-bottom: .5rem;
}

/* middensectie mario + buttons */
main section {
  display: flex;
  width: 100&;
  align-items: center;
  justify-content: space-between;
  margin: 0 3em;
}

main section button {
  background: none;
  border: none;
  width: 10rem;
  aspect-ratio: 1/1;
}

main section button img {
  width: 100%;
  
}

main section > img {
  height: 40vh;
}

/* titel bovenin pagina */
h1 {
  color:var(--color-headings);
  font-family: var(--mario-font);
  font-size: 3em;
  letter-spacing: -.3em;
  -webkit-text-stroke: .08em black;
}

h1 span:nth-of-type(5) {
  letter-spacing: 0;
}

/* blauwe letters */
h1 span:first-of-type,
h1 span:nth-of-type(9) {
  color: var(--mariotekst-blauw);
}

/* gele letters */
h1 span:nth-of-type(2),
h1 span:nth-of-type(5),
h1 span:nth-of-type(8) {
  color: var(--mariotekst-geel);
}

/* groene letters */
h1 span:nth-of-type(4),
h1 span:nth-of-type(7),
h1 span:nth-of-type(10) {
  color: var(--mariotekst-groen);
}

/* rode letters */
h1 span:nth-of-type(3),
h1 span:nth-of-type(6) {
  color: var(--mariotekst-rood);
}

/* titels van alle list items */
h2 {

}


ol li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol li h2 {
  text-align: center;
}




